#nav{
    left: 0%;
    width: 100%;
    height: 70px;
    box-shadow: 0 4px 10px 2px grey;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;

}
#screen-mode{
    background: skyblue;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}
#circle-btn{
    background: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.photo{
    text-align: center;
    font-family: 'Festive', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Qahiri', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    margin-top: 100px;
}
.eastlogue{
    display:block;
    flex-wrap: wrap;
    text-align: center;
    width: 1500px;
    height: 1100px;
    border: 3px solid black;
    margin: 0 auto;
}
.search-box{
    text-align: cn;
}
.cat{
    width: 280px;
    height: 300px;
    margin: 15px;
}
@media screen and (max-width: 414px) {
    .eastlogue{
        height: 100%;
        width: 380px;
    }
    .cat{
        width:90%;
    }
}
@media screen and (max-width: 375px) {
    .eastlogue{
        height: 100%;
        width: 350px;
    }
    .cat{
        width:90%;
    }
}
body { 
    padding: 0; 
    margin: 0; 
} 
#photo-box { 
    width: 60%; 
    columns: 4; 
    margin: 50px auto; 
} 
.photo { 
    width: 100%; 
    height: 300px; 
    margin-bottom: 10px; 
    background: tomato; 
    display: inline-block; /* 컬럼 짤림 방지*/ 
} 
.photo img { 
    width: 100%; 
    height: 100%; 
} 
#block{
    left: 50%;
    top: 50%;
    position: fixed;
    background:beige;
    transform: translate(-50%,-50%);    
}

.header{
     background: pink;
     height: 20%;
     text-align: center;
     font-size: 50PX;
     
     
}
.body{
    background: yellowgreen;
    height: 200px;
    text-align: center;
    overflow: scroll;
}

.footer{
    background: pink;
    height: 200%;
    display: flex;
    justify-content: flex-end;
    
}
.footer button{
    background: none;
    border: 2px solid darkseagreen;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 5px;
    outline: none;
    cursor:pointer;
    transition: all .4s;
    margin-left: 75%;
    margin-right: 3%;
    
}
.footer button:hover{
    background-color: black;
}

@media screen and (max-width: 1300px) { 
    #photo-box { 
        width: 70%; 
        columns: 3; 
    } 
} 
@media screen and (max-width: 1000px) { 
    #photo-box { 
        width: 80%; 
        columns: 2; 
    } 
} 
@media screen and (max-width: 800px) { 
    #photo-box { 
        width: 90%; 
        columns: 1; 
    } 
}
